[mysql]
# mysql backup user
user = bkpuser
password = 123.com
host = 127.0.0.1
port = 3306

[xtrabackup]
backup_tool = /usr/bin/xtrabackup
defaults-file = /etc/my.cnf
backupdir = /backup/xtrabackup/jbh
# master backup, set --binlog-info=ON
# slave backup, set --slave-info
xtra_options = --no-version-check --rsync --binlog-info=ON

[compress]
# Optional
# Enable only if you want to use compression.
compress = quicklz
compress_chunk_size = 64k
compress_threads = 4

[encrypt]
# Optional
# Enable only if you want to create encrypted backups
encrypt = AES256
encrypt_key = 'VVTBwgM4UhwkTTV98fphj+D1zyWoA89K'
encrypt_threads = 4
encrypt_chunk_size = 64k

[remote]
# Optional
# Enable only if you want to copy backup file to remote server
remote_host = 10.72.63.199
remote_ssh_user = root
remote_ssh_pass = 123.com
remote_dir = /backup/tmp_backup
# whether to delete local backup files, Yes: delete, No: do not delete
remove_local_backup = Yes

[mail]
# mail setting
title = [jbh backup]
mail_sender = lisi@163.com
mail_receiver = zhangsan@163.com,
mail_host = smtp.163.com
mail_user = lisi
mail_pass = 123.com
